<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story APP</title>
  </head>
  <body>
    <div class="spinner-wrapper">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    <main class="min-vh-100 d-flex">
      <div class="m-auto container py-5">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-lg-4">
            <h1 class="text-center">Registrasi</h1>

            <form id="registerForm" novalidate>
              <div class="mb-3">
                <label for="validationCustomRecordName" class="form-label">Nama</label>
                <input-with-validation
                  type="text"
                  id="validationCustomRecordNameContainer"
                  inputId="validationCustomRecordName"
                  invalidFeedbackMessage="Wajib diisi"
                  required
                ></input-with-validation>
              </div>

              <div class="mb-3">
                <label for="validationCustomEmail" class="form-label">Email</label>
                <input-with-validation
                  type="email"
                  id="validationCustomEmailContainer"
                  inputId="validationCustomEmail"
                  invalidFeedbackMessage="Wajib diisi"
                  required
                ></input-with-validation>
              </div>

              <div class="mb-3">
                <label for="validationCustomPassword" class="form-label">Password</label>
                <input-group-with-validation
                  id="validationCustomPasswordContainer"
                  type="password"
                  inputId="validationCustomPassword"
                  invalidFeedbackMessage="Wajib diisi"
                  inputGroupIcon="bi-eye-slash"
                  inputGroupIcon2="bi-eye"
                  required></input-group-with-validation>
              </div>

              <div class="col-12 text-end">
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>

            <div class="mt-4 text-center">
              Sudah punya akun? <a href="/auth/login.html">Login</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
